h1 {
  display: flex;
  justify-content: center;
  text-align:center;
}
* {
   box-sizing:border-box;
   font-family: Comic Sans MS, Verdana, Geneva, sans-serif;
}
div {
   width:30%;
   float:left;
   padding:0px;
   border: 2px solid black;
   margin: 10px;
   background-color: gray;
}

h2 {
  width: 40%;
  margin:0px;
  text-align: center;
  float: right;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  }
#h2-1{
  background-color:pink;
}
#h2-2{
  background-color:#A52A2A;
}
#h2-3{
  background-color:yellow;
}
p {
 text-align: left;
 padding:10px;
 margin:0px;
 clear:right;
}
